@page "/archive/{Year:int}/{Day:int}"
@inject AdventCalendar.Services.Validator validator
@inject AdventCalendar.Services.DayReader reader
@layout ArchiveLayout
@*
    Example for custom layout!
**@

    <h1>@Day of  @Year</h1>
    <div class="day-wrapper">
        <DaysContent Year="@Year" Day="@Day">
            <h2 class="day-header">@context.Title</h2>
            <div class="day-content">
                @((MarkupString)context.Content)
                <br />
                <a class="linkbtn" href="archive/@Year">Back to the archive</a>
            </div>
        </DaysContent>
    </div>
@code{
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public int Day { get; set; }
}
