@page "/"
@using AdventCalendar.ModalComponents 
@inject AdventCalendar.Client.Services.Validator validator
@inject AdventCalendar.Client.Services.DayReader reader
@inject AdventCalendar.Client.Services.DaysShuffler shuffler
@inject IDateTime datetime
@inject AdventCalendar.Client.IAppSettings appSettings

<Modal @bind-DayInfo ="@DayInfo">
</Modal>
<div class="calendar-wrapper wrapper">
    <h1>@appSettings.Title</h1>
    <div class="calendar @CalendarType">
        @{
            int[] shuffled = shuffler.ShuffleDays();
            for (int i = 0; i < appSettings.Days; i++)
            {
                int dayValue = shuffled[i];
                if (validator.IsOpenToday(dayValue))
                {
                    <div class="calendar-open" @onclick="(async ()=>await OpenDialog(dayValue))">@dayValue</div>
                }
                else
                {
                    <div class="calendar-closed">@dayValue</div>
                }
            }
        }
    </div>
</div>
@code
{
    private DayInfoData DayInfo { get; set; }
    private string CalendarType { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        if(appSettings.Days < 25)
        CalendarType = "calendar-eve";
    }
        private async Task OpenDialog(int day)
    {
        DayInfo = await reader.GetContent(day);
    }
}